<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Poor Story', cursive;


        }

        h1 {

            width: 300px;
            margin: 30px auto 0px;
            text-align: center;
            font-size: 3rem;
            font-weight: bold;
        }

        .input {


            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;


        }

        .input div {
            margin: 0px 3rem 4rem;


        }

        .container {
            font-weight: bold;
        }
        .input > div >button{
            margin-top: 46.625px;
        }


    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/main.js"></script>
</head>
<body>


<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

        <a href="http://localhost:5000/"
           class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">

            홈으로
            <!--            <img src="https://img.icons8.com/ios-filled/512/flex-biceps.png"width="30" height="30">-->
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="http://localhost:5000/main" class="nav-link px-2 link-dark">운동 목표 설정</a></li>
            <li><a href="http://localhost:5000/action" class="nav-link px-2 link-dark">운동 결과 입력</a></li>
            <li><a href="http://localhost:5000/result" class="nav-link px-2 link-dark">성적표</a></li>
            <li><a href="http://localhost:5000/video" class="nav-link px-2 link-dark">구씨네</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn">Login</button>
            <button type="button" class="btn">Sign-up</button>
        </div>
    </header>
</div>


<div class="page4-wrap">


    <div class="main-title">
        <h1>구씨의 운동법</h1>

        <div class="save">
            <div class="form-floating mb-3">
                <input id="url" type="email" class="form-control" placeholder="name@example.com">
                <label>youtube URL</label>
            </div>

            <select class="form-select" id="workName">
                <option selected>-- 운동 선택하기 --</option>
                <option value="squat">스쿼트</option>
                <option value="lunge">런지</option>
                <option value="pull">턱걸이</option>
                <option value="push">팔굽혀 펴기</option>
                <option value="sit">윗몸 일으키기</option>
            </select>

            <div class="mybtns">
                <button onclick="posting()" type="button" class="btn-post btn-dark">저장하기</button>
            </div>

        </div>
    </div>

    <div class="wrap-btn">
        <button type="button" onclick="squat()" id="btn-squat" class="btn btn-dark mybutton explain-1">스쿼트 영상 보기</button>
        <button type="button" onclick="lunge()" id="btn-lunge" class="btn btn-dark mybutton explain-1">런지 영상 보기</button>
        <button type="button" onclick="pulls()" id="btn-pulls" class="btn btn-dark mybutton explain-1">턱걸이 영상 보기</button>
        <button type="button" onclick="pushs()" id="btn-pushs" class="btn btn-dark mybutton explain-1">팔굽혀 펴기 영상 보기</button>
        <button type="button" onclick="sit()" id="btn-sit" class="btn btn-dark mybutton explain-1">윗몸 일으키기 영상 보기</button>
    </div>

    <div class="video-wrap">
        <div class="youtube" id="show">

        </div>
    </div>
</div>
</div>
</body>
</html>