<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        function hey() {
            $.ajax({
                type: "POST",
                url: "/test",
                data: {title_give: '봄날은간다'},
                success: function (response) {
                    console.log(response['msg'])
                }
            })
        }

        // /test라는 창구에 가는데, title_give라는 이름으로 봄날은 간다라는 데이커를 내가 가지고 갈게
        // 그리고 잘 되면 다시 너가 주는 데이터를 내가 console에다 찍어볼게
    </script>
</head>
<body>
<button onclick="hey()">나는 버튼!</button>
</body>
</html>